@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #f37671;
  --color-secondary: #a09f9f;
  --color-terciary: #666666;
}

* {
  font-family: "Inter", sans-serif;
}
