@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #f37671;
  --color-secondary: #a09f9f;
  --color-terciary: #666666;
  --color-quaternary: #303030;
  --color-quinary: #0A0909;
  --color-senary: #E2E2E2;
}

* {
  font-family: "Inter", sans-serif;
}

@utility checkbox-checked {
  &:checked {
    @apply bg-primary border-primary;
    position: relative;
    &::after {
      content: "✔";
      @apply absolute text-white text-xs flex items-center justify-center w-full h-full;
    }
  }
}

@utility shadow {
  box-shadow: 0 0 15px #30303055;
}

@utility rounded-circle {
  border-radius: 50%;
}

@utility hover-background-gray {
  transition:  background-color 500ms ease-in-out;
  &:hover{
    background-color: #e5e5e5;
  }
}